* {
  padding: 0;
  margin: 0;
}

main {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.profile-card {
  padding: 2rem;
  background-color: rgb(119, 109, 95);
  min-width: 20rem;
  text-align: center;
  border-radius: 8px;
}

.profile-card img {
  width: 100%;
  height: 220px;
  object-fit: cover;
  border-radius: 8px;
}

main {
  display: flex;
  flex-direction: column;
}

.list-container {
  margin-top: 4rem;
}

.list-container ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  gap: 1rem;
}
